* {
    margin: 0 0 0 5px;
    padding: 0px;
    font-family: philosopher, sans-serif;
    color: white;
}
body {
    background-color: #001933;
}

@font-face {
    font-family: philosopher;
    src: url(fonts/philosopher/Philosopher-Regular.ttf);

}
@font-face{
    font-family: philosopher-bold;
    src: url(fonts/philosopher/Philosopher-Bold.ttf);
}

a {
    color: rgb(255, 100, 100);
}

a:hover {
    color: rgb(255, 0, 255);
}

h1 {
    font-family: philosopher-bold;
    margin: 20px 0 20px 0;
}
h2 {
    font-family: philosopher-bold;
    margin: 20px 0 10px 0;
}
p {
    margin-bottom: 5px;
}